<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ana Sayfa</title>
</head>
<body>
  <h3> Wowe </h3>
  {% if message != null  %}
    <p> {{ message }} </p>
  {% else %}
    <p> Mesaj bulunamadi. </p>
  {% endif %}
  <ul>
  {% for  number in numbers  %}
    <li> {{number}} </li>
  {% endfor %}
  </ul>

<form action="/toplam" method="post">
  <input type="number" name="number1"/>
  <input type="number" name="number2"/> 
  <button type="submit"> Gonder </button>
</form>
</body>
</html>