<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Detail Page</title>
</head>
<body>
    <div class="container">
        <h3> Details </h3>
        <hr>
        <h4>{{todo.title}}</h4>
        <hr>
        <p> {{todo.content}} </p>
        <hr>
        {% if todo.complete == False %}
        <p>State : Uncomp </p>
        {% else if %}
        <p>State : Comp </p>
        {% endif %}
</body>
</html>

Kac gun stajlari olucak, hangi aylar gelecek, okul staji gormuyoruz, tatil bitine kadar bizimle durmalarini bekliyoruz.
gelecek arkadaslar icin hangi tarihlerde gelecekler, ne zaman staja baslayacaklar, 
github guzelce ogrenmemizi istiyorlar, 

Java ve Python ile ilgili el isitmak lazim. 

Gelme imkani varsa gelsin!

2 tane bayan var uzaktan gelebilirler zorlayamayiz.

Konular haftaya dagitilacak! ciddiler.